/* General & Layout */
* {
	box-sizing:border-box;
}
html {
	border-radius: 3px;
	-webkit-user-select: none;
	cursor: default;
}
body {
	margin: 0;padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #99b9d2;
	width:310px;
	color:#fff200;
}

header {
	padding:10px 12px 0 12px;
	padding: 0;
}

h1 {
	font-size:18px; 
	margin:0;
	padding:0; 
}
h1#app-logo {
	display: block;
	line-height:42px;
	background:#005581 url(images/ui/logo.png) 10px center no-repeat;
	color: transparent;
	border-radius: 3px 3px 0 0;
}
/*h1#app-logo:before,h1#app-logo:after {
	display: block;
	content:'';
	height: 3px;
	background: transparent url(images/ui/border.png) left top repeat-x;
}*/
h2 {
	font-size:14px;
	margin:0 10px;
	padding:10px 0 6px 0;
	color: #005581;
}
p {
	font-size: 14px;
}
a {
	text-decoration: none;
	color: #333;
}
a.info {
	position:absolute;
	right:10px;
	top:9px;
	display:block;
	padding:1px 6px;
	border:2px solid #fff;
	border-radius:20px;
	font-size:14px;
	font-weight:bold;
	text-decoration: none;
	outline: none;
	color:#fff;
}
p.info-panel {
	display:none;
	-webkit-transition: all 0.3s ease-out;
	border-bottom:1px solid #005581;;
	margin:0;
	color:#333;
	background-color:#fff;
	padding:10px;
	font-size:13px;
}
a.info:hover + p.info-panel { 
	display:block;
}

/* accordion */

.accordion-container {
	font-size: 13px;
	width:310px;
	padding: 0px 10px;
}
.pull-down { 
	margin-bottom:-30px;
}
.accordion-header {
	padding:0;
	margin:0;
	background: #e9eff4;
	border-radius: 3px;
	border: 1px solid #005581;
	-webkit-transition: background .2s ease-in-out, border-radius .2s ease-in-out, border-bottom-color .2s ease-in-out;
	background-position: right 50%;
	background-repeat: no-repeat;
	margin: 5px 0 0 0;
}
.accordion-header a {
	display:block;
	font-size: 14px;
	background:transparent;
	padding: 5px 10px;
	cursor: pointer;
	color: #333;
}

.active-header {
	background-image: url(images/ui/active-header.gif);
	border-radius: 3px 3px 0 0;
	border-bottom-color: transparent;
}

.active-header:hover {
	background-image: url(images/ui/active-header.gif);
	background-color: #fff;
}

.inactive-header {
	background-image: url(images/ui/inactive-header.gif);
}

.inactive-header:hover {
	background-image: url(images/ui/inactive-header.gif);
	background-color: #fff;
}

.accordion-content {
	display: none;
	width:100%;
	background: #ffffff;
	border: 1px solid #005581;
	border-top:none;
	color:#222;
	border-radius: 0 0 3px 3px;
}

.accordion-content p.intro { font-size: 12px; margin:0; padding:10px 10px 5px 10px; }

.accordion-content p.intro a {
	border-bottom: 1px dotted #444;
}
.accordion-content p.intro a:hover {
	border-bottom: 1px solid #444;
}

.accordion-content h2 { color: #444; margin:0; padding:5px 10px; font-size:13px; }
.accordion-content h3 { color: #666; margin:0; padding:0 10px 2px 10px; font-size:12px; font-weight:normal; }
.accordion-content p.slider { margin:5px 0; padding: 0 10px; }
.accordion-content input[type=range] { width:100%; }
.stadia { margin:0; padding:5px 10px; list-style: none; width:100%; -webkit-box-sizing: border-box; overflow:hidden; }
.stadia li {
	float:left;
	width:45px;
	-webkit-box-sizing: border-box;
	border: 2px solid #999;
	border-radius: 3px;
	margin: 0 2px;
}
.stadia li a {
	display:block;
	text-align:center;
	font-weight:bold;
	color:#333;
	padding: 2px;
	cursor:pointer;
	background-color: #fff;
	-webkit-transition: background-color .2s ease-in-out;
}
.stadia li a:hover {
	background-color: #e9eff4;
}
.stadia li a.active {
	background-color: #222;
	color: #fff;
}
.stadia#staar li,
.stadia#slechtziend li { width:16.66666666666667%; }


/* footer */
footer {
	margin-top: 15px;
	background-color: #005581;
	border-radius: 0 0 3px 3px;
	text-align: right;
	vertical-align: top;
	line-height: 30px;
	font-size: 10px;
	color: #fff;
	font-style: italic;
}
footer a {
	color: transparent;
	display: inline-block;
	height: 30px;
	background-size: auto 10px;
	margin: 0 5px;
}
footer a#bartimeus {
	width: 91px;
	background: transparent url(images/ui/bartimeus.png) center center no-repeat;
}
footer a#q42 {
	width: 20px;
	background: transparent url(images/ui/q42.png) center center no-repeat;
}
