/* General & Layout */
* {
	box-sizing:border-box;
}
body {
	margin: 0;padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #005581;
	width:310px;
	padding-bottom:10px;
	color:#fff200;
}

header {
	padding:10px 12px 0 12px;
}

h1 {
	font-size:18px; 
	margin:0;
	padding:0; 
}
h1#app-logo {
	display: block;
	line-height:45px;
	background:transparent url(images/ui/logo.png) 0 center no-repeat;
	color: transparent;
}
h1#app-logo:before,h1#app-logo:after {
	display: block;
	content:'';
	height: 3px;
	background: transparent url(images/ui/border.png) left top repeat-x;
}
h2 {
	font-size:14px;
	margin:0;
	padding:10px 0 6px 0;
}
p {
	font-size: 14px;
}
a {
	text-decoration: none;
	color: #333;
}
a.info {
	position:absolute;
	right:10px;
	top:25px;
	display:block;
	padding:0 6px;
	border:2px solid #fff200;
	border-radius:10px;
	font-size:12px;
	font-weight:bold;
	text-decoration: none;
	outline: none;
	color:#fff200;
}
p.info-panel {
	display:none;
	border:1px dotted #999;
	padding:5px;
}
a.info:hover + p.info-panel { 
	display:block;
}

/* accordion */

.accordion-container {
		font-size: 13px;
		/*background: #ffffff;*/
		width:310px;
		padding: 0px 10px;
}
.pull-down { 
		margin-bottom:-30px;
}
.accordion-header {
		padding:0;
		margin:0;
		background: #99b9d2;
}
.accordion-header a {
		display:block;
		font-size: 16px;
		background:transparent;
		margin: 5px 0 0 0;
		padding: 5px 20px;
		border: 1px solid #fff;
		cursor: pointer;
		color: #222;
}

.active-header {
		background: url(images/ui/active-header.gif) #fff;
		background-repeat: no-repeat;
		background-position: right 50%;
}

.active-header:hover {
		background: url(images/ui/active-header.gif) #eee;
		background-repeat: no-repeat;
		background-position: right 50%;
}

.inactive-header {
		background: url(images/ui/inactive-header.gif) #99b9d2;
		background-repeat: no-repeat;
		background-position: right 50%;
}

.inactive-header:hover {
		background: url(images/ui/inactive-header.gif) #f5f5f5;
		background-repeat: no-repeat;
		background-position: right 50%;
}

.accordion-content {
		display: none;
		width:100%;
		background: #ffffff;
		border: 1px solid #cccccc;
		border-top:none;
		color:#222;
}

.accordion-content p.intro { margin:0; padding:10px 10px 5px 10px; }
.accordion-content h2 { margin:0; padding:5px 10px; font-size:14px; }
.accordion-content h3 { margin:0; padding:0 10px 2px 10px; font-size:13px; font-weight:normal; }
.accordion-content p.slider { margin:5px 0; padding: 0 10px; }
.accordion-content input[type=range] { width:100%; }
.stadia { margin:0; padding:5px 10px; list-style: none; width:100%; -webkit-box-sizing: border-box; overflow:hidden; }
.stadia li { float:left; width:20%; -webkit-box-sizing: border-box;	border:2px solid #999; }
.stadia li a { display:block; text-align:center; font-weight:bold; color:#333; padding: 2px; cursor:pointer; }
.stadia li + li { border-left:none; }
.stadia#staar li,
.stadia#slechtziend li { width:16.66666666666667%; }




